table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #f6ebd5;
  }
  th {
    background-color: #f6ebd5;
  }
  .img-table {
    max-width: 100px;
    height: auto;
  }